body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

main.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    padding: 30px;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    width: 500px; 
    text-align: center;
}

form label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
}




